body {
    padding: 1cm;
    background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1ba09f6f-7578-4633-abef-d7db1c61e167/deb7t16-411a18ac-699b-4c5d-afd3-78bbc99e991d.png/v1/fill/w_1024,h_618,q_80,strp/clouds_from_my_neighbor_totoro_by_itsendy_deb7t16-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjE4IiwicGF0aCI6IlwvZlwvMWJhMDlmNmYtNzU3OC00NjMzLWFiZWYtZDdkYjFjNjFlMTY3XC9kZWI3dDE2LTQxMWExOGFjLTY5OWItNGM1ZC1hZmQzLTc4YmJjOTllOTkxZC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.4s-zJZpMeeSr65tZJOlrHr2zHG5xMgcRV5ERjNIZ5S0");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Poppins';
  }
  img{
    width: 60px;
    height: 60px;
  }
  .header {
    display:flex;
    justify-content:space-between ;
    align-items: center;
  }
  .header h1{
    color:whitesmoke;
    font-size: 50px;
    text-decoration:solid;
    padding-left: 595px;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif */
    
  }
  #input{
    opacity: 0.6;

    font-size: 20px;
    padding:5px 10px;
    border-radius:20px;
    border-color: black;
    border-style: solid;
    
  }

  #search{
    opacity: 0.6;
    width: 35px;
    height: 35px;
    /* background:rgb(195 188 177); */
    /* font-size: 15px; */
    border-radius: 25px;
    cursor: pointer;
    border-color: black;
    border-style:solid;
  } 
  #search img{
    width: 15px;
    height: 15px;
  }
  .weather{
    background-color: rgba(0,0,0,0.3);

    
    color:white
    

  }

 .weather img{
  height: 140px;
    width:140px;
    border-radius: 20%;
  
 }

 main{
    display:grid;
    grid-template-columns:1fr 5px 1fr;
    grid-column-gap:20px;
    
 }
  #city{
    font-size: 36px;
    padding-left: 182px;
    font-family: 'Poppins';
    /* font-style: oblique; */
    /* font-family: monospace; */
  }

  #temperature{
    font-size: 50px;
    text-align:end;

  }
  .temperature-box{

    display:flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
  }

  #clouds{
    font-size: 30px;
    color:white;
    padding-left: 209px;
    /* font-style: italic; */
   
    
    
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

  }

  .next{
    display:flex;
    justify-content: normal;
    align-items: baseline;
    font-size: larger;
    font-weight: bold;
  }
  
  .next p{
    margin: 19px;
    padding-right: 85px;
  }

  .time , .date{
    color:white
  }
  .description{
    color:brown;
    font-size: large;
    /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
    /*  */
  }
  .description1{
    font-size: 25px;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    color: brown;
    
  }


  .castheader{
    color: rgb(108 69 113);
    
    background-color: #e6e1dd;
    width:max-content;
    border-radius: 20px;
   
    border-style: solid;
    padding:3px;
    font-size:larger;
    font-weight:bolder;
    /* font-style: italic; */
    

  }


  .divider1, .divider2{
    background-color: rgb(37, 20, 23);
    height: 500px;
  }

.divider2{
    height:5px;
  
    
}

.forecast2{
  background-color: rgba(256,256,256,0.4);
  padding: 20px;
    margin:50px; 
}

.week{
    display: grid;
    grid-template-columns: repeat(6,5fr);
}

.date{
   
    font-weight: bold;
    font-size: larger;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
}

.tempw{
  font-size: large;
  font-weight: bold;
}

#img1{
  width: 95px;
  float: right;
  padding-left: 100px;
}

.forecast3{
  float:right;
  margin-bottom: 50px;
  border:20px;
  
    display:flex;
    justify-content: normal;
    align-items: baseline;
    
    
  
}

.city-temp{
  display: grid;
  grid-template-columns: repeat(6,5fr);
}

.extra{
  font-size: larger;
  /* font-style: italic; */
  padding-left: 230px;
  color:white;
  /* font-family: cursive; */
  /* font-weight: bold; */

}
  
.forecast1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0,0,0,0.4);

}

 
